@model BetterAdventureWorksWeb.Model.Search.DetailViewModel

<div class="container">
    <div class="row">
        <h1>Détail produit</h1>
        <h3>
            @Model.Name
        </h3>

        <ul>
            <li><b>Description:</b> @Model.Description</li>
            <li><b>Prix:</b> @Model.Price</li>
            <li><b>Couleur:</b> @Model.Color</li>
            <li><b>Poids:</b> @Model.Weight</li>
            <li><b>Taille:</b> @Model.Size</li>
        </ul>

    </div>
</div>




